body{
	padding:0;
	margin:0;
	/*background:#452046;
        background-repeat:x;
        background-size: auto 100%;
        background-image:url(../images/bground.png);
		background-image:-moz-linear-gradient(left,#0B0433 0%, #452046 80%);
        background-image:-webkit-linear-gradient(left,#0B0433 0%, #452046 80%);
        background-image:-o-linear-gradient(left,#0B0433 0%, #452046 80%);
        background-image:-ms-linear-gradient(left,#0B0433 0%, #452046 80%);
        background-image:linear-gradient(left,#0B0433 0%, #452046 80%);*/
/*        background-image:url(../images/bgios.png);*/
        background-attachment: fixed;
        background-color:#f0f0f0;
/*        background-repeat:x;
*/}
.bodys{
	background-size: auto 100%;
        background-image:url(../images/bground.png);
		background-image:-moz-linear-gradient(left,#0B0433 0%, #452046 80%);
        background-image:-webkit-linear-gradient(left,#0B0433 0%, #452046 80%);
        background-image:-o-linear-gradient(left,#0B0433 0%, #452046 80%);
        background-image:-ms-linear-gradient(left,#0B0433 0%, #452046 80%);
        background-image:linear-gradient(left,#0B0433 0%, #452046 80%);
}
.powered{
	background:#4788EF;
	color:#fff;
	padding:5px;
	border-radius:3px;
}
.wrapper{
    padding-top:0px;
}
.container{
	width:100%;
	margin-left:auto;
	margin-right:auto;
}
.inner{
    width:100%;
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
}
.header{
	background-repeat:x;
/*        background-size: auto 100%;
        background-image:url(../images/bground.png);
		background-image:-moz-linear-gradient(left,#0B0433 0%, #452046 80%);
        background-image:-webkit-linear-gradient(left,#0B0433 0%, #452046 80%);
        background-image:-o-linear-gradient(left,#0B0433 0%, #452046 80%);
        background-image:-ms-linear-gradient(left,#0B0433 0%, #452046 80%);
        background-image:linear-gradient(left,#0B0433 0%, #452046 80%);
  */  	padding:50px 20px 20px 20px;
    	background:#0063A6;
	color:#fff;
	word-wrap:break-word;
	/*box-shadow:inset 0px -3px 10px 0px #000;
	*//*border-bottom:8px solid #0090D2 /*#00AEEF*;*/
}
.sloped{
	padding:15px;
	background:#0090D2;
	-moz-box-shadow:0 10px 30px rgba(0,0,0,0.3);
	-webkit-box-shadow:0 10px 30px rgba(0,0,0,0.3);
	-o-box-shadow:0 10px 30px rgba(0,0,0,0.3);
	box-shadow:0 10px 30px rgba(0,0,0,0.3);
}
.slope{
	background:#ffffff;
	float:left;
	width:98%;
	z-index:10;
	padding:1%;
	overflow:hidden;
	-moz-box-shadow:0 10px 30px rgba(0,0,0,0.3);
	-webkit-box-shadow:0 10px 30px rgba(0,0,0,0.3);
	-o-box-shadow:0 10px 30px rgba(0,0,0,0.3);
	box-shadow:0 10px 30px rgba(0,0,0,0.3);
	margin-bottom:30px;
}
.jud{
    font-size:80px;
	font-weight:bold;
    font-family:arial;
    color:/*#00AEEF*/ #ffffff;
}
.slog{
	font-size:20px;
	font-weight:bold;
	font-family:arial;
	color:/*#00aeef*/ #ffffff;
}
.AsFx{
    overflow:hidden;
}
.content{
		z-index:20;
        width:100%;
        margin:0px 0px 0px 0px;
        padding:0px 0px 0px 0px;
        float:left;
        color:#000;
        font-family:arial;
       /* box-shadow:0px 0px 10px 0px #000;
*/}
.columns{
    display:block;
    background:#fff;
    clear:both;
    width:100%;
}
.left{
    float:left;
    width:75%;
}
.right{
    float:right;
    width:25%;
}
@media screen and (max-width:650px){
    .left{
        float:right;
        width:100%;
    }
    .right{
        width:100%;
        margin-top:15px;
    }
}
@media screen and (max-width:400px){
	.jud{
    	font-size:32px;
    }
    .slog{
    	font-size:15px;
    	font-weight:none;
    }
}
.footContent{
	clear:both;
	position:relative;
	margin:-15px;
	padding-top:10px;
}
.footIsian{
	background:#f0f0f0;
	padding:15px;
}
.footer{
/*        clear:both;
  */      font-weight:bold;
	padding:-0px 10px 10px 10px;
	text-align:center;
	margin-top:-25px;
	color:#444444;
        font-family:calibri;
        z-index:1;
        font-size:20px;
/*        text-shadow:0px -1px 1px #111;
*/}
a{
    text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
}
.content h1,h2,h3,h4,h5,h6{
	color:#444;
}
h1{
    font-size:60px;
}
h2{
    font-size:45px;
}
h3{
    font-size:30px;
}
h4{
    font-size:23px;
}
h5{
    font-size:18px;
}
h6{
    font-size:13px;
}
p{
	font-size:16px;
	font-family:Arial;
}
/*
* this is a style of breadcrumbs
*/
#breadcrumbs{
    /*border-bottom:3px solid #452046;*/
    margin:0px 0px 0px 0px;
    padding:0px 0px;
    font-size:20px;
    background:#0063A6;
    color:#fff;
}
a.breadcrumbs{
    font-size:20px;
    font-family:calibri;
    color:#fff;
    font-weight: bold;
}
a.breadcrumbs:hover{
    font-family:calibri;
    color:#000000;
    font-weight: bold;
}
a.breadcurrent{
    font-family:calibri;
    color:#e5e5e5/*#D14836*/;
    font-weight: bold;
}
/*
*   this style is a style for top menu or horizontal menu.
*/
.menu{
        width:100%;
        z-index:2;
        background:#dfdfdf;
		background:-moz-linear-gradient(top,#eeeeee 0%, #cccccc 100%);
        background:-o-linear-gradient(top,#eeeeee 0%, #cccccc 100%);
        background:-webkit-linear-gradient(top,#eeeeee 0%, #cccccc 100%);
        background:-ms-linear-gradient(top,#eeeeee 0%, #cccccc 100%);
        background:linear-gradient(top,#eeeeee 0%, #cccccc 100%);
	    position:fixed;
        height:40px;
        font-family:sans-serif;
        font-size:14px;
        box-shadow:0px 0px 18px 0px rgba(0,0,0,0.3);
}
.well{
    padding:10px;
    float:right;
    font-size:20px;
}
.well img{
	float:right;
	margin:0;
	}
.well a{
    color:#000000;
    float:left;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.well:hover a{
    color:#f1f1f1;
}
.menu ul{
    margin:0;
    padding:0;
    list-style:none;
    z-index:11;
}
.menu ul li{
    position:relative;
    float:left;
}
.menu ul li a{
    display:block;
    color:#000000;
    text-decoration:none;
    margin:5px;
    padding:6px;
}
.menu ul li:hover a{
    background:#b9b9b9;
    border-radius:5px;
    color:#000000;
    behavior: url(border-radius.htc);
/*    box-shadow:inset 0px 0px 5px 0px rgba(0,0,0,0.3);
    border:1px solid rgba(0,0,0,0.3);
*/}
.menu .curs{
    background:#353535;
    border-radius:5px;
    color:#FFF;
    behavior: url(border-radius.htc);
    border:1px solid #111;
}
.menu ul li ul,.menu ul li:hover ul li ul{
    position:absolute;
    display:none;
    opacity:0;
    top:37px;
    margin:0;
    /*
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;*/
}
.menu ul li:hover ul{
    display:block;
    top:43px;
    height:auto;
    opacity:1;
    z-index:10;
    padding:4px 0px 4px 0px;
    background:#fff;
    border:1px #999;
    border-radius:5px;
    behavior: url(border-radius.htc);
    box-shadow:0px 4px 30px 0px rgba(0,0,0,0.3);
/*    filter: progid:DXImageTransform.Microsoft.Shadow(color='#222222', Direction=145, Strength=3);*/
}
.spar{
    background-image:url(../images/sgitig.png);
    background-size: 28px 15px;
    background-position:center top;
    width:28px;
    height:15px;
    position:absolute;
    top:-12px;
    left:20px;
}
.spad{
    background-image:url(../images/stidi.png);
    background-size: 13px 24px;
    background-position:left;
    width:13px;
    height:24px;
    position:absolute;
    top:6px;
    left:-12px;
}
.menu ul li ul li> .menu ul li{
	cursor:arrowdown;
}

.menu ul li:hover ul li a{
    width:170px;
    background:#fff;
    color:#000;
    border:0;
    margin:0;
}
.menu ul li:hover ul li:hover a{
    background:#4787ED;
    border-radius:0px;
    margin-left:0px;
    margin-right:0px;
    width:170px;
    color:#fff;
}
.menu ul li ul li ul{
    top:-1000px;
    display:none;
    left:170px;
}
.menu ul li:hover ul li:hover ul{
    display:block;
    visibility:visible;
    left:140px;
    top:-4px;
    z-index:20;
    opacity:1;
}
.menu ul li:hover ul li:hover ul li a{
    border:0;
    background:#fff;
    color:#000;
}
.menu ul li:hover ul li:hover ul li a:hover{
    border:0;
    background:#4787ED;
    color:#fff;
}

@media screen and (max-width:480px){
    .menu{
        position: relative;
        height:auto;
    }
    .menu .inner{
        background:#dfdfdf;
		background:-moz-linear-gradient(top,#eeeeee 0%, #cccccc 100%);
        background:-o-linear-gradient(top,#eeeeee 0%, #cccccc 100%);
        background:-webkit-linear-gradient(top,#eeeeee 0%, #cccccc 100%);
        background:-ms-linear-gradient(top,#eeeeee 0%, #cccccc 100%);
        background:linear-gradient(top,#eeeeee 0%, #cccccc 100%);
		float:left;
    }
    .menu > li{
        width:100%;
    }
    .wrapper{
        padding-top: 0;
    }
}
/*
*   end style of horizontal menu
*/

/*
*   this style is a style for form
*/
fieldset{
	border:10px solid #9DDFFF /*#452046 #0088cc*/;
	/*border-radius:5px;
*/}
legend{
	border:0px solid #9DDFFF /*#452046 #0088cc*/;
/*	border-radius:5px;
	*/padding:0px 3px 12px 3px;
	color:/*#452046*/ #444;
	font-family:calibri;
        font-weight: bold;
        margin-left:20px;
        font-size:30px;
}
.input{
    float:left;
    width:100%;
    padding:10px 0px 10px 0px;
}
.radio{
    float:left;
    width:100%;
    padding:10px 0px 10px 0px;
}
.textarea{
    float:left;
    width:100%;
    padding:10px 0px 10px 0px;
}
label{
	position:relative;
	display:block;
	padding:5px;
        float:left;
        width:100%;
        text-align:right;
        max-width:150px;
}
input[type='radio']{
    float:left;
    margin:10px 2px;
}
input[type='file']{
    -moz-appearance: button;
    appearance:button;
}
@media (max-width:567px){
    label{
        text-align:left;
    }
}
.radios{
	padding:5px;
        float:left;
        width:auto;
        text-align:right;
}
input[type='text'],input[type='email'],input[type='password'],input[type='date'],input[type='time'],input[type='number'],textarea,select{
	padding:5px;
	border-radius:5px;
	border:1px solid #ccc;
	width:95%;
        max-width:350px;
        box-shadow:0px 1px 5px 0px rgba(0,0,0,0.3) inset;
        color:#452046;
        -moz-transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
}
input[type='text']:focus,input[type='email']:focus,input[type='password']:focus,textarea:focus,select:focus{
	padding:5px;
	border-radius:5px;
        border:1px solid #fff;
	width:95%;
        box-shadow:0px 0px 5px 0px #44AACC,0px 0px 10px 0px #cccccc;
}
select{
    max-width:361px;
    width:100%;
/*    background:url('../images/down.png') center right no-repeat #ffffff;
    appearance:none;
    appearance: none; font-family: fantasy;
    -moz-appearance: none;
    -webkit-appearance:none;*/
}
option{
    background:#fff;
}
option:hover{
    background:#000000;
}
optgroup{
    border-top:1px solid #0088cc;
}
button[type='submit'],button[type='button'],button[type='reset']{
	padding:5px;
	border-radius:3px;
	background-color:#4787ED;
        background-image:-moz-linear-gradient(top, #4C8FFC, #4787ED);
        background-image:-webkit-gradient(linear, 0 0, 0 100%,from(#4C8FFC), to(#4787ED));
        background-image:-webkit-linear-gradient(top, #4C8FFC, #4787ED);
        background-image:-o-linear-gradient(top, #4C8FFC, #4787ED);
        background-image:linear-gradient(top, #4C8FFC, #4787ED);
        color:#fff;
        border:1px solid #3079EC;
       /*text-shadow:0px -1px 0px #666;
	*/width:auto;
        margin:2px;
/*        box-shadow:0px 1px 1px 0px #ccc inset;
	*/word-wrap:break-word;
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
}
button[type='submit']:hover,button[type='button']:hover,button[type='reset']:hover{
	padding:5px;
	background:#005299;
        color:#fff;
        text-shadow:0px -1px 0px #666;
	width:auto;
	word-wrap:break-word;
}

/*
*   end of style form
*/

/*
*   This style is a style for table
*/
.scroll{
	overflow:auto;
}
table{
	background:#fff;
	padding:0px;
    border:8px solid #9DDFFF;
}
th{
    background:#4787ED;
    color:#fff;
    word-wrap:break-word;
}
th a{
	color:#fff;
}
tr:nth-child(even) td{
    background:#efefef;
    word-wrap:break-word;
}
tr:nth-child(odd) td{
    background:#e5e5e5;
    word-wrap:break-word;
}
td{
	word-wrap:break-word;
}
tr:hover  td{
    background:/*#FFC005*/ #9DDFFF;
    color:#111;
}
/*
*   end of table style
*/


/*
*   Paging style
*/
.nav{
	padding:5px;
	border-radius:3px;
	background-color:#4787ED;
        background-image:-moz-linear-gradient(top, #4C8FFC, #4787ED);
        background-image:-webkit-gradient(linear, 0 0, 0 100%,from(#4C8FFC), to(#4787ED));
        background-image:-webkit-linear-gradient(top, #4C8FFC, #4787ED);
        background-image:-o-linear-gradient(top, #4C8FFC, #4787ED);
        background-image:linear-gradient(top, #4C8FFC, #4787ED);
        color:#fff;
        border:1px solid #3079ED;
/*        border-color:#0088CC #005299 #005299;
       text-shadow:0px -1px 0px #666;
 */	width:auto;
        margin:5px 2px;
        position:relative;
        float:left;
        display:block;
   /*     box-shadow:0px 1px 1px 0px #ccc inset;
	*/word-wrap:break-word;
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
}
.nav:hover{
	padding:5px;
	background:#005299;
        color:#fff;
        text-shadow:0px -1px 0px #666;
	width:auto;
	word-wrap:break-word;
}
.navc{
	padding:5px;
	border-radius:3px;
	background-color:#D94937;
        color:#fff;
        border:1px solid #D94937;
/*        border-color:#0088CC #005299 #005299;
        text-shadow:0px -1px 0px #666;
	*/margin:5px 2px;
        position:relative;
        float:left;
        display:block;
      /*  box-shadow:0px 1px 1px 0px #ccc inset;
	*/word-wrap:break-word;
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
}
.paging{
	width:100%;
	position:relative;
}
.pag{
	margin-left:auto;
	display:block;
	margin-right:auto;
	position:relative;
}

/*
end of paging style
*/

.img{
    padding:5px;
    border:3px solid #452046;
    background:#e1e1e1;
}
.menu img{
    position:relative;
    height:30px;
    margin:-5px 0 0 5px;
    float:right;
}/*
.menu img:hover{
    position:absolute;
    height:50px;
    right:10px;
    margin:-5px 0 0 5px;
}*/
#btna{
    padding:5px;
	border-radius:3px;
	background-color:#4787ED;
/*        background-image:-moz-linear-gradient(top, #4C8FFC, #4787ED);
        background-image:-webkit-gradient(linear, 0 0, 0 100%,from(#4C8FFC), to(#4787ED));
        background-image:-webkit-linear-gradient(top, #4C8FFC, #4787ED);
        background-image:-o-linear-gradient(top, #4C8FFC, #4787ED);
        background-image:linear-gradient(top, #4C8FFC, #4787ED);
  */	color:#fff;
        border:1px solid #3079ED;
/*        border-color:#0088CC #005299 #005299;
        text-shadow:0px -1px 0px #666;
*/	width:auto;
        margin:5px 2px;
        position:relative;
        float:left;
        display:block;
/*        box-shadow:0px 1px 1px 0px #ccc inset;
	*/word-wrap:break-word;
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
}
#btna.del{
	background-color:#D14836;
        /*background-image:-moz-linear-gradient(top, #DC4A38, #D14836);
        background-image:-webkit-gradient(linear, 0 0, 0 100%,from(#DC4A38), to(#D14836));
        background-image:-webkit-linear-gradient(top, #DC4A38, #D14836);
        background-image:-o-linear-gradient(top, #DC4A38, #D14836);
        background-image:linear-gradient(top, #DC4A38, #D14836);
        */color:#fff;
        border:1px solid #D94A38;
        
        background-image:url('../images/del.png');
	background-repeat:no-repeat;
	background-position:center;
	width:12px;
	height:20px;
	}
#btna.dtl{
	width:12px;
	height:20px;
	background-image:url('../images/dtl.png');
	background-repeat:no-repeat;
	background-position:center;
	}
#btna.edt{
	width:12px;
	height:20px;
	background-image:url('../images/edt.png');
	background-repeat:no-repeat;
	background-position:center;
}

/*
*   style for view
*/
div.isi{
    float:left;
    display:block;
    width:100%;
    position:relative;
}
label.label{
    float:left;
    width:100%;
    max-width:180px;
    position:relative;
}
div.isian{
    float:left;
    display:block;
    width:auto;
    padding:5px;
    max-width:550px;
    position:relative;
    text-align: left;
    font-weight: bold;
}
.vmenu{
    width:90%;
    margin-left:5%;
    margin-right:5%;
    border-radius:8px;
    box-shadow:0px 2px 20px 0px rgba(0,0,0,0.3);
    margin-bottom:10px;
}
.vmenu ul{
    list-style:none;
    margin:0;
    padding:0;
}
.vmenu ul li:first-child{
    border-radius: 0px 0px 0px 0px;
}
.vmenu ul li:last-child a{
    border-radius: 0px 0px 0px 0px;
    border:0;
}
.vmenu ul li.menud{
    display:block;
    background:#4787ED;
    color:#fff;
    font-size:25px;
    font-family:calibri;
    padding:10px;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
    border-bottom:1px solid #eee;
}
.vmenu ul li a{
    display:block;
    background:#fff;
    padding:10px;
    color:#0088cc;
    border-bottom:1px solid #eee;
}
.vmenu ul li:hover a{
    color:#fff;
    background:#4787ED;
}

.indexes{
	border:1px solid #9DDFFF;
	padding:1%;
	border-radius:5px;
	margin:4px 0 4px 0;
	width:98%;
	background:#fff;
	position:relative;
	display:block;
	float:left;
}
.indexes:hover{
	background:#9DDFFF;
}

input[type='text'].src{
	width:100%;
	max-width:100%;
	height:32px;
/*	border-radius:15px 0px 0px 15px;
	border:7px solid #9DDFFF;
*/	position:relative;
	border:0px;
	margin:0px;
	border-radius:0;
	padding:0;
	padding-left:20px;
	box-shadow:0px 0px 0px 0px #fff;
}
.search{
	margin:10px 0px 0px 0px;
	border:8px solid #9DDFFF;
	border-bottom:0;
	padding:0;
}
#shearch > option{
	background:#9DDFFF;
	color:#000;
}
select#shearch {
/*	border:7px solid #9DDFFF;
	*/border-radius:0px;	
	border-left:0;
	border:0px;
	background:#fff;
	height:32px;
	border-right:0;
	box-shadow:0px 0px 0px 0px #000;
}
select#shearch:focus{
	width:100%;
	}
.search td{
	overflow:hidden;
/*	height:30px;
	*/position:relative;
	}
input[type='submit'].goser{
	/*border:7px solid #9DDFFF;
	*/width:100%;
	height:32px;
	border:0px;
	border-left:0;
/*	border-radius:0px 15px 15px 0px;
	*/background:url('../images/dtl.png') center no-repeat #4788EF;
}
