@CHARSET "UTF-8";
.breadcrumbs {
  padding: 8px 15px;
  margin: 10px 0 10px;
  list-style: none;
  background-color: #f5f5f5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  color:#cccccc;
  clear:both;
  font-family:arial;
      font-size:14px;
}
.breadcrumbs > a{
   display: inline-block;
  *display: inline;
  text-shadow: 0 1px 0 #ffffff;
  *zoom: 1;
  padding: 0 5px;
  color:#0088cc;
}
.breadcrumbs > .breadcurrent{
    color:#999999/*#D14836*/;
}