@CHARSET "UTF-8";

/* Standar style AsListView */
.AsListView{
	border:1px solid #dddddd;
	padding:1%;
	border-radius:5px;
	margin:0.25% 0.25% 0.25% 0.25%;
	width:97%;
	background:#fff;
	position:relative;
	display:block;
	float:left;
}
.AsListView:hover{
	background:#dddddd;
}