
.container{
	width:100%;
	margin-left:auto;
	margin-right:auto;
}
.inner{
    width:100%;
    max-width:1140px;
    margin-left:auto;
    margin-right:auto;
}
.sloped{
	padding:15px;
	background:/*#0090D2*/ #664d8c;
	-moz-box-shadow:0 10px 30px rgba(0,0,0,0.4);
	-webkit-box-shadow:0 10px 30px rgba(0,0,0,0.4);
	-o-box-shadow:0 10px 30px rgba(0,0,0,0.4);
	box-shadow:0 10px 30px rgba(0,0,0,0.4);
}
.slope{
	background:#ffffff;
	float:left;
	width:98%;
	z-index:10;
	padding:1%;
	overflow:hidden;
	-moz-box-shadow:0 10px 30px rgba(0,0,0,0.3);
	-webkit-box-shadow:0 10px 30px rgba(0,0,0,0.3);
	-o-box-shadow:0 10px 30px rgba(0,0,0,0.3);
	box-shadow:0 10px 30px rgba(0,0,0,0.3);
	margin-bottom:30px;
}
.columns{
    display:block;
    background:#fff;
    clear:both;
    width:100%;
}

.footContent{
	clear:both;
	position:relative;
	padding-top:10px;
}
.footIsian{
	background:#f0f0f0;
	padding:15px;
}

p{
	font-size:16px;
	font-family:Arial;
}